
body#body {
	background:url(../img/bg.gif);
	opacity: 0.95;
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	margin:0;
	padding:0;
}

div, ul {
	margin:0;
	padding:0;
}

a { color:#026AAC; outline:none;}
a:hover { color: #F70C00; text-decoration: none; }

h1 { text-align:left; padding-bottom:5px; margin-top:13px; margin-bottom:5px; line-height: 1.2em; font-weight:normal; }
h1 span { color:#026AAC; }

.botth1 { font-size:20px; color:#026AAC; line-height:25px; margin-top:25px; margin-bottom:25px; }
.botth2 { font-size:20px; line-height:25px; margin-top:25px; margin-bottom:25px; }

.h1ul li { padding-bottom:5px; margin-top:13px; margin-bottom:5px; line-height: 1.2em; font-weight:normal; font-size:24px; }
.h1ul li span { color:#026AAC; }

.braceright { float:right; width:200px; padding-left:30px; }
.braceright img { float:left; margin-right:10px; }
.braceright div { color:#026AAC; font-size:18px; line-height:28px; }

button, input, select, textarea {
	font: inherit;
	margin: 0;
	color: #333;
}
button, input { overflow: visible; }

#page { width:800px; margin:0 auto; background:#fff;}

#header { width:800px; height:88px; background:url(../img/head.png) no-repeat; }
#header .tel { float:right; margin-top:10px; padding:10px 20px 10px 0; font-size:12px; font-weight:normal; text-align:right; }
#header .tel a { text-decoration:none; color:#222; }
#header .tel span { font-size:30px; font-weight:normal; color:#026AAC; line-height:22px; }

#topmenu { background-color:#000; color:#fff; text-align:right; }
#topmenu ul li { list-style-type: none; display:inline; padding:10px; }
#topmenu ul li.last { padding-right:20px; }

#sidebar { width:240px; float:left;}
#sidebar .section { padding:10px 20px 10px 30px;}

#sidebar ul { padding-left:15px; }
#sidebar ul li { padding-left:0px; font-size:12px; margin-bottom:5px; }

#content { /*padding:10px 30px 10px 0px;*/ padding:10px 30px 10px 30px; overflow:hidden; }
#content .section { width:100%;}
#content .selspan { color:#026AAC; font-weight:bold; }

#content ul { margin-left:20px; }
#content ul li { padding:3px 0; }
#content .mainul { font-size:20px;line-height:30px;margin:10px 0 30px 20px; }
#content .mainul li { padding:5px 0; }
#content .mainul li span { color:#026AAC; }

#content .bottomtel { margin:30px 0; text-align:center; font-size:24px; color:#222; line-height:30px; }
#content .bottomtel a { text-decoration:none; color:#222; }
#content .bottomtel span { color:#026AAC; }

#content .callorder {
	width:250px;
	margin:30px auto;
	padding:8px 15px 8px 15px;
	font-family:"Raleway", Sans-serif;
	font-size:16px;
	font-style:normal;
	letter-spacing:1px;
	color:#ffffff;
	text-align:center;
	background-color:#026AAC;
	cursor:pointer;
}
#content .pflbtn {
	width:150px;
	margin:80px auto 0 auto;
	padding:8px 15px 8px 15px;
	font-family:"Raleway", Sans-serif;
	font-size:16px;
	font-style:normal;
	letter-spacing:1px;
	color:#ffffff;
	text-align:center;
	background-color:#026AAC;
	cursor:pointer;
}

#footer { padding:3px 10px 10px 10px; font-size:11px; }

.prebpxline { width:800px; height:1px; }
.bpxline { width:800px; height:1px; background:#000; }

#statementform .message { text-align:center; }
#statementform .textareabox { width:615px; height:150px; font-size:14px; }
#statementform .message .contacts { width:615px; margin:auto; }
#statementform .message .contacts div { padding-top:10px; }
#statementform .label { font-size:14px; text-align:right; }
#statementform .label span { color:#F70C00; }
#statementform .inputbox { width:430px; font-size:14px; }
#statementform .butt { text-align:right; }
#statementresult { padding: 20px; font-size:16px; color:#026AAC; text-align:center; }

.rphoto { width:220px; float:right; text-align:center; }
.rphoto img { padding:10px; }

.rphotobtc { width:220px; float:right; text-align:center; }
.rphotobtc img { padding:10px; }

.qrt { text-align:center; }

.vidpro { text-align:center; }
.vidpro iframe { margin:10px; width:500px; height:315px; }

.codeexam { text-align:center; }
.codeexam p { line-height: 1.1em; }
.codeexam img { margin:10px 10px 5px 10px; width:720px; }

#btctickers { width:200px; margin:0 auto; }
#btctickers td { font-size: 18px !important; padding:5px 10px 5px 10px !important; border:1px solid #909090; }
#btctickers td.hlbtc { font-size: 13px !important; text-align:center; }
#btctickers td span { font-size: 11px !important; }

.tickerslink { padding:5px 10px 0 0; text-align:right; }

.triangulumas_b { border: 8px solid #fff; border-bottom: 8px solid #00CC00; width: 0px; }
.triangulumdes_b { border: 8px solid #fff; border-top: 8px solid #CC0000; width: 0px; }

#alltickers table { margin:0 auto; /*border-collapse: collapse;*/ }
#alltickers td { font-size: 16px !important; padding:5px 10px 5px 10px !important; border:1px solid #909090; }
#alltickers td.hl { font-size: 13px !important; text-align:center; }
#alltickers td span { font-size: 11px !important; }

.backlink { padding:10px 0; }

ul.pfl li span { border:1px solid #ccc; font-size:11px; background-color:#eee; padding:1px; margin-left:10px; }
ul.pfl li span.lp { color:#F70C00; }

#bottomheadline { max-width:700px; }
@media screen and (max-width: 800px) {
	#page, #header, .bpxline { width:auto; }
}
@media screen and (max-width: 620px) {
	#header .tel span { font-size: 22px; }
	.h1ul li { line-height: 1.1em; font-size: 18px; }
	.braceright { width:170px; padding-left:20px; }
	.vidpro iframe { width:400px; }
	.codeexam img { width:400px; }
}
@media screen and (max-width: 550px) {
	#header .tel { display: none; }
}
