
body {
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 1.6 !important;
    /*font-family: Raleway, sans-serif !important;*/
    letter-spacing: 0px !important;
    text-align: left !important;
    color: #1c1c1c !important;
}

h1, h2, h3, h5, h6 {
    margin: 15px 0;
}
h4 {
    margin: 15px 0 10px 0;
}

h3, .h3-style {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
    font-family: Raleway, sans-serif;
    letter-spacing: 0px;
    text-align: inherit;
    color: #3b3d42;
}

table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}
table th, table td {
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 5px 0 !important;
}

select {
    font-size: inherit !important;
    line-height: inherit !important;
    padding: 8px 12px !important;
    -webkit-border-radius: 3px;
    border-radius: 3px !important;
    border: 1px solid #ebeced !important;
}

select {
    border: 1px solid #aaa !important;
}

input[type='text'], input[type='email'], input[type='url'], input[type='password'], input[type='search'], input[type='number'], input[type='tel'], input[type='range'], input[type='date'], input[type='month'], input[type='week'], input[type='time'], input[type='datetime'], input[type='datetime-local'], select, textarea {
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.inboxmw {
    width: auto !important;
}
.inbox100w {
    width: 100% !important;
}
input {
    line-height: normal !important;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
    display: inline-block;
    max-width: 100%;
    padding: 12px 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.3s ease;
}
.btn, button, input[type='button'], input[type='reset'], input[type='submit'] {
    text-transform: none !important;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
}
.classbuttonred {
    color: #ffffff;
    background-color: #f23534;
}
